{% extends "common/base.html" %}

{% block main %}

    <div>{{ product.name }}</div>
    <div>{{ product.price }}円</div>
    <div>在庫:{{ product.stock }}個</div>

    <form action="{% url 'shop:product' product.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="amount" value="1">
        <input class="btn btn-outline-success" type="submit" value="カートに入れる">
    </form>

    <h2>バリエーション</h2>

    {% for group in product.groups %}
    <div class="border">
        {% if product.id != group.id %}
        <a href="{% url 'shop:product' group.id  %}">
        {% endif %}

            <div>{{ group.name }}</div>
            <div>
                <img src="{{ group.img.url }}" alt="">
            </div>

        {% if product.id != group.id %}
        </a>
        {% endif %}
    </div>
    {% endfor %}


    <h2>レビューを書く</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {# <input type="number" name="star" value="1" max="5" min="1"> #}

        <input id="star_radio_1" type="radio" name="star" value="1">
        <input id="star_radio_2" type="radio" name="star" value="2">
        <input id="star_radio_3" type="radio" name="star" value="3">
        <input id="star_radio_4" type="radio" name="star" value="4">
        <input id="star_radio_5" type="radio" name="star" value="5">

        <div class="star_radio_label_area">
            <div class="star_radio_label_flex">
                <label class="star_radio_label" for="star_radio_5"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_4"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_3"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_2"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_1"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
            </div>
        </div>

        <textarea name="comment" maxlength="1000"></textarea>
        <input type="submit" value="送信">
    </form>


    <h2>レビュー一覧</h2>

    {% for product_comment in product_comments %}
    <div class="border">

        {% with range=''|center:product_comment.star %}
        <div>評価:{% for x in range %}<i class="fas fa-star"></i>{% endfor %}</div>
        {% endwith %}

        <div>{{ product_comment.dt }}</div>
        <div>{{ product_comment.comment }}</div>
        <div>{{ product_comment.user }}</div>
    </div>
    {% endfor %}


{% endblock %}
